<h2 class="text-center">Añadir Usuario</h2>
<form>
  <div class="row">
    <div class="col-lg-12">
      <div class="form-group">
        <label for="id">Id Interno:</label>
        <input type="text" id="id" name="id" value="{{ id }}" class="form-control">
      </div>
    </div>
    <div class="col-lg-12">
      <div class="form-group">
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" value="{{ name }}" class="form-control">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="form-group">
        <label for="ocupation">Cargo:</label>
        <input type="text" id="ocupation" name="ocupation" value="{{ ocupation }}" class="form-control">
      </div>
    </div>
  </div>
    <div class="col-lg-12">
    <div class="form-group">
        <label for="profile">Perfil:</label>
        <select id="profile" name="profile" class="form-control">
        {% for profile in profiles %}
            <option value="{{ profile }}">{{ profile }}</option>
        {% endfor %}
        </select>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="form-actions">
        <button type="button" class="btn btn-primary guardarBtn">Guardar</button>
        <button type="button" class="btn btn-secondary cancelarBtn">Cancelar</button>
      </div>
    </div>
  </div>
</form>