<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <th>Id</th>
      <th class="col-4">Nombre</th>
      <th class="col-4">Cargo</th>
      <th class="col-2">Acción</th>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td class="id">{{ user.id }}</td>
        <td class="name">{{ user.name }}</td>
        <td class="ocupation">{{ user.ocupation }}</td>
        <td>
           <div class="col icons settinguser">
                <span class="icon">
                <i class="fa-solid fa-gears fa-2xl" style="color: #022a39;"></i> 
                </span>
            </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div id="editLightbox" class="lightbox">
  <div class="lightbox-content" id="lightboxContent"></div>
</div>


