
{% extends "layouts/base.njk" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
		<div class="wrapper d-flex align-items-stretch">
		   {% include 'dashboard/menu.njk' %}
        <div id="content" class="p-4 p-md-5">
         {% include 'dashboard/toggle.njk' %}
          <section>
              <div class="row flex-wrap" id="templateContainer">
                 {% include templateName %}
              </div>
              <!--Section loading-->
              <div id="loader" style="display:none">
               <img src="/assets/images/logoccol.png" alt="Cargando">
             </div>
             <!--Section lightbox-->

          </section>
        </div>
	  </div>
{% endblock %}