<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa-solid fa-bars fa-2xl"></i>
            <span class="sr-only">Toggle Menu</span>
        </button>
        <!--<div class="collapse navbar-collapse" id="navbarSupportedContent">
        </div>-->
          <div class="row">
              <div class="text-container">
                <h3 id="title">{{ Title }}</h3>
             </div>
        
          </div>
          <div class="row">
              <div class="col icons adduser" id="button">
              </div>
              <div class="col icons"  id="showAlert">
                <span class="icon" >
                <i class="fa-sharp fa-solid fa-bell fa-2xl" style="color: #022a39;"></i> 
                <span class="badge">{{ Alerts }}</span>
                </span>   
              </div>
              <div class="col icons" id="setting">
                <span class="icon">
                <i class="fa-solid fa-gears fa-2xl" style="color: #022a39;"></i> 
                </span>
              </div>
              <div class="col icons" id="logAut">
                <span class="icon">
                <i class="fas fa-sign-out-alt fa-2xl"></i>
                </span>
              </div>
          </div>
   
    </div>
 </nav>