<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" href="/assets/css/qr.css">
<link rel="stylesheet" href="/assets/css/card.css">
<link rel="stylesheet" href="/assets/css/izitoast.min.css">
</head>
<body>
  {% block content %}{% endblock %}
</body>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/popper.js"></script>
<script src="/js/main.js"></script>
<script src="/js/fontawesome.js"></script>
<script src="/js/qr.js"></script>
<script src="/js/iziToast.min.js"></script>

</html>