<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" href="/assets/css/qr.css">
<link rel="stylesheet" href="/assets/css/card.css">
<link rel="stylesheet" href="/assets/css/izitoast.min.css">
<link rel="stylesheet" href="/assets/css/lightbox.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">

</head>
<body>
  {% block content %}{% endblock %}
</body>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/popper.js"></script>
<script src="/js/view.js"></script>
<script src="/js/adminuser.js"></script>
<script src="/js/fontawesome.js"></script>
<script src="/js/qr.js"></script>
<script src="/js/iziToast.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="/js/dataTables.Spanish.json"></script>

</html>