<div class="modal-dialog" role="document">
  <div class="modal-content modal-lg">
    <div class="modal-header">
      <h5 class="modal-title text-center mx-auto"></h5>
      <div class="form-actions">
        <button type="button" class="btn btn-primary crearEtiqueta">Crear</button>
        <button type="button" class="btn btn-secondary cancelarBtn">Cancelar</button>
      </div>
    </div>
    <div class="modal-body">
           <!-- Dropdown -->
      <div class="mb-3">
        <label for="dropdownSelect" class="form-label">Selecciona una opción:</label>
        <select class="form-select" id="dropdownSelect">
          <option value="opcion1">Tipo de estantería</option>
          <option value="opcion1">2 X 2</option>
          <option value="opcion2">3 X 3</option>
          <option value="opcion3">4 X 4</option>
        </select>
      </div>

      <!-- Cuadro de observaciones -->
      <div class="mb-3">
        <label for="observaciones" class="form-label">Observaciones:</label>
        <textarea class="form-control" id="observaciones" rows="5"></textarea>
      </div>
    </div>
  </div>
</div>