{% extends "layouts/base.njk" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
		<div class="wrapper d-flex align-items-stretch">
		   {% include 'menu.njk' %}
        <div id="content" class="p-4 p-md-5">
       {% include 'toggle.njk' %}
          <h2 class="mb-4">Aqui van las secciones</h2>
          
        </div>
	  </div>
{% endblock %}