
{% extends "layouts/base.njk" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
		<div class="wrapper d-flex align-items-stretch">
		   {% include 'menu.njk' %}
        <div id="content" class="p-4 p-md-5">
         {% include 'toggle.njk' %}
          <section>
              <div class="row flex-wrap">
                {% for card in cards %}
                    <div class="col-lg-4 col-md-6 col-sm-12 order-1">
                        <button type="button" class="card mb-4 buttoncard">
                            <div class="card-body">
                            <div class="img-container">
                                <img src="{{ card.image }}" alt="{{ card.title }}" class="img-fluid" style="width: 30%;">
                            </div>
                            <div class="text-container">
                                <h3>{{ card.title }}</h3>
                            </div>
                            </div>
                        </button>
                        </div>
                {% endfor %}
              </div>
          </section>
        </div>
	  </div>
{% endblock %}