{% extends "layouts/base.njk" %}

{% block title %}Iniciar sesión{% endblock %}

{% block content %}
<section class="vh-100 d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div>
        <div>
          <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="/assets/images/logo.png"
                  class="img-fluid" alt="Sample image">
              </div>
              <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1" id="containerlogin">
                <form action="/login" method="post" id="loginForm">
                  <!-- Email input -->
                  <div class="form-outline mb-4">
                    <input type="text" id="username" name="username" class="form-control form-control-lg"
                      placeholder="Ingrese su usuario" />
                    <label class="form-label" for="username">Usuario</label>
                  </div>

                  <!-- Password input -->
                  <div class="form-outline mb-3">
                    <input type="password" id="password" name="password" class="form-control form-control-lg"
                      placeholder="Ingrese su contraseña" />
                    <label class="form-label" for="password">Contraseña</label>
                  </div>

                  <div class="d-flex justify-content-between align-items-center">
                  </div>
                  
                  <div class="d-flex justify-content-center align-items-center">
                    <button type="submit" class="btn btn-primary btn-lg" 
                      style="padding-left: 2.5rem; padding-right: 2.5rem;" id="loginButton">Ingresar</button>
                  </div>

                </form>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}