
	<nav id="sidebar" class="active">

         <div class="image-container">
          <div class="parent-div">
            <div class="child-div">
                <a href="" class="logo"><img src="/assets/images/logo.png"></a> 
          </div>
          </div>
          </div>
        
        
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="#"><span class="fa fa-home"></span> Inicio</a>
          </li>
          <li>
              <a href="#"><span class="fa fa-user"></span> Perfil</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-sticky-note"></span> Reportes</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-cogs"></span> Ajustes</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-paper-plane"></span> Mensajes</a>
          </li>
        </ul>
        <div id="PopupQr" class="popup">
          <div class="popup-content" style="border-radius: 10px;">
            <span class="close">&times;</span>
                <div class="image-container">
              <img src="{{ CodeQr }}" alt="Código QR" class="rounded-image" >
          </div>
        </div>
      </div>
        <div class="image-container responsive-image">
           <button id="ButtonQr" class="transparent-button"> <img src="{{ CodeQr }}" alt="Código QR" class="rounded-image" ></button>
        </div>
        <div class="footer">
            <div class="contenedor-principal">
                  <div  class="contenedor-secundario">
                  <a>{{ IdUser }} </a>
                  <br>
                  <a>{{ UserLogin }} </a>
                  </div>
            </div>
        </div>
    </nav>
