
	<nav id="sidebar" class="active">
			     <style>
            .parent-div {
              display: flex;
              justify-content: center;
              align-items: center;
            }
        </style>
        <style>
            .image-container {
              width: 100%; /* Ajusta el ancho del contenedor de la imagen */
              padding: 0% 5%;
            }
            .image-container img {
              width: 100%; /* Ajusta el ancho de la imagen dentro del contenedor */
              height: auto; /* Asegura que la altura se ajuste proporcionalmente */
            }
          </style>

         <div class="image-container">
          <div class="parent-div">
            <div class="child-div">
                <a href="" class="logo"><img src="/assets/images/logo.png"></a>
            
          </div>
          </div>
          </div>
        
        
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="#"><span class="fa fa-home"></span> Home</a>
          </li>
          <li>
              <a href="#"><span class="fa fa-user"></span> About</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-sticky-note"></span> Blog</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-cogs"></span> Services</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-paper-plane"></span> Contacts</a>
          </li>
        </ul>
        <div class="footer">
            <img src="{{ qrCodeDataURL }}" alt="Código QR">
        </div>
    </nav>
