
	<nav id="sidebar" class="active">

         <div class="image-container">
          <div class="parent-div">
            <div class="child-div">
                <a href="" class="logo"><img src="/assets/images/logo.png"></a> 
          </div>
          </div>
          </div>
        
        
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="#"><span class="fa fa-home"></span> Home</a>
          </li>
          <li>
              <a href="#"><span class="fa fa-user"></span> About</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-sticky-note"></span> Blog</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-cogs"></span> Services</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-paper-plane"></span> Contacts</a>
          </li>
        </ul>
        <div class="image-container responsive-image">
            <img src="{{ CodeQr }}" alt="Código QR" class="rounded-image" >
        </div>
        <div class="footer">
            <div class="contenedor-principal">
                  <div  class="contenedor-secundario">
                  <a>{{ IdUser }} </a>
                  <br>
                  <a>{{ UserLogin }} </a>
                  </div>
            </div>
        </div>
    </nav>
