<table id="tablaRemisiones" class="table table-striped" style="width:100%">
  <thead>
    <tr>
      <th>Remisión</th>
      <th>Cantidad</th>
      <th>Proveedor</th>
      <th>Fecha</th>
      <th>Estado</th>
      <th>Ver</th> <!-- Nueva columna para el icono de visualización -->
    </tr>
  </thead>
  <tbody>
    {% for remison in remisones %}
      <tr>
        <td>{{ remison.remision }}</td>
        <td>{{ remison.cantidades }}</td>
        <td>{{ remison.proveedor }}</td>
        <td>{{ remison.fecha }}</td>
        <td>{{ remison.estado }}</td>
        <td><i class="view-icon fas fa-eye" data-remision="{{ remison.remision }}"></i></td> <!-- Icono de visualización -->
      </tr>
    {% endfor %}
  </tbody>
</table>

  <div id="editLightbox" class="lightbox">
    <div class="lightbox-content ordencompra" id="lightboxContent"></div>
  </div>
  <script>
$(document).ready(function() {
  // Inicializar DataTables con la extensión Select
  var tablaOrdenes = $('#tablaRemisiones').DataTable({
      select: {
        style: 'single'
      },
      language: {
            url: "/js/dataTables.Spanish.json"
          },
      pageLength: 6,
      scrollY: '250px',
      scrollCollapse: true,
      paging: true,
      responsive: true
  });

  // Manejar el evento de selección de una fila
$('#tablaRemisiones tbody').on('click', 'i.view-icon', function() {
  var $row = $(this).closest('tr'); // Obtener la fila más cercana al icono de visualización
  var remisionId = $(this).data('remision');
  var template = 'abastecimiento/detalleremision.njk';
  $.ajax({
    url: '/detalleorden',
    type: 'POST',
    data: { remisionId: remisionId, template: template },
    success: function(response) {
      $('#lightboxContent').html(response);
      $('#editLightbox').fadeIn();
      // Remover la clase de selección de todas las filas excepto la seleccionada
      $row.siblings().removeClass('selected');
      // Agregar o quitar la clase de selección en la fila seleccionada
      $row.toggleClass('selected');
    },
        error: function(error) {
        console.error('Error al obtener el detalle de la orden de compra:', error);
    }
  });
});

});
  </script>
