
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="rotacion-tab" data-bs-toggle="tab" data-bs-target="#rotacion" type="button" role="tab" aria-controls="rotacion" aria-selected="true">Rotación de los productos</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="productividad-tab" data-bs-toggle="tab" data-bs-target="#productividad" type="button" role="tab" aria-controls="productividad" aria-selected="false">Productividad por usuarios</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="cortes-tab" data-bs-toggle="tab" data-bs-target="#cortes" type="button" role="tab" aria-controls="cortes" aria-selected="false">Indicador de cortes</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="novedades-tab" data-bs-toggle="tab" data-bs-target="#novedades" type="button" role="tab" aria-controls="novedades" aria-selected="false">Indicador de Novedades</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="accidentes-tab" data-bs-toggle="tab" data-bs-target="#accidentes" type="button" role="tab" aria-controls="accidentes" aria-selected="false">Indicador de Novedades</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active chartModification" id="rotacion" role="tabpanel" aria-labelledby="rotacion-tab">
      <div class="container">
        <div id="chartRotacion" class="chart"></div>
      </div>
    </div>
    <div class="tab-pane fade chartModification" id="productividad" role="tabpanel" aria-labelledby="productividad-tab">
      <div class="container">
        <div id="charProductividad" class="chart"></div>
      </div>
    </div>
    <div class="tab-pane fade chartModification" id="cortes" role="tabpanel" aria-labelledby="cortes-tab">
      <div class="container">
        <div id="chartCortes" class="chart"></div>
      </div>
    </div>
    <div class="tab-pane fade chartModification" id="novedades" role="tabpanel" aria-labelledby="novedades-tab">
      <div class="container">
        <div id="chartNovedades" class="chart"></div>
      </div>
    </div>
    <div class="tab-pane fade chartModification" id="accidentes" role="tabpanel" aria-labelledby="accidentes-tab">
      <div class="container">
        <div id="chartAccidentes" class="chart"></div>
      </div>
    </div>
  </div>
<script src="/js/estadisticas/estadisticas.js"></script>

