<table id="listaCarretes" class="table table-striped" style="width:100%">
  <thead>
    <tr>
      <th>N° Carrete</th>
      <th>Fecha carrete</th>
      <th>Total inicial</th>
      <th>Total cortado</th>
      <th>Disponible</th>
      <th>Unidad de medida</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for carrete in carretes %}
      <tr>
        <td>{{ carrete.carrete }}</td>
        <td>{{ carrete.fecha }}</td>
        <td>{{ carrete.inicial }}</td>
        <td>{{ carrete.totalcortado }}</td>
        <td>{{ carrete.disponible }}</td>
        <td>{{ carrete.unidad }}</td>
        <td>
          <i class="view-icon fa fa-eye" data-carrete="{{ carrete.carrete }}"></i> <!-- Ícono del ojo con clase 'view-icon' y atributo data-id -->
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
  <div id="editLightbox" class="lightbox">
    <div class="lightbox-content ordencompra" id="lightboxContent"></div>
  </div>
<script>
  $(document).ready(function() {
    var tablaOrdenes = $('#listaCarretes').DataTable({
      select: {
        style: 'single'
      },
      language: {
        url: "/js/dataTables.Spanish.json"
      },
      pageLength: 6,
      scrollY: '250px',
      scrollCollapse: true,
      paging: true,
      responsive: true
    });

    // Agregar evento clic para las etiquetas <i> con clase "view-icon"
    $('.view-icon').click(function() {
      var carreteId = $(this).data('carrete'); // Obtener el ID del carrete desde el atributo data-id
      console.log(carreteId);
     var template = 'cortesproducto/detallecorte.njk';
        $.ajax({
          url: '/detallecorte',
          type: 'POST',
          data: { carreteId: carreteId, template: template },
          success: function(response) {
            $('#lightboxContent').html(response);
            $('#editLightbox').fadeIn();
          },
          error: function(error) {
            console.error('Error al obtener el detalle de la estiba:', error);
          }
        });
    });
  });
</script>



