<div class="modal-dialog" role="document">
  <div class="modal-content modal-lg">
    <div class="modal-header">
      <h5 class="modal-title text-center mx-auto">Detalle del corte a realizar</h5>

    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-6">
          <table id="cortes" class="table table-striped" style="width:100%">
            <thead>
              <tr>
                <th>Usuario</th>
                <th>Inicial</th>
                <th>Cortado</th>
                <th>Disponible</th>
              </tr>
            </thead>
            <tbody>
              {% for corte in cortes %}
                  <tr>
                    <td>{{ corte.usuario }}</td>
                    <td>{{ corte.inicial }}</td>
                    <td>{{ corte.cortado }}</td>
                    <td>{{ corte.disponible }}</td>
                  </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="col-sm-6">
          <div class="input-group mb-3">
            <span class="input-group-text">Total Carrete:</span>
            <input type="number" aria-label="Total Carrete" class="form-control" value="{{carrete}}" disabled>
            <span class="input-group-text">Total cortado:</span>
            <input type="number" aria-label="Total cortado" class="form-control" value="{{cortados}}" disabled>
            <span class="input-group-text">Total cortes:</span>
            <input type="number" aria-label="Total cortes" class="form-control" value="{{totalcorte}}" disabled>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">Disponible:</span>
            <input type="number" aria-label="Disponible" class="form-control" value="{{disponible}}" disabled>
            <span class="input-group-text">Nuevo corte:</span>
            <input type="number" aria-label="Nuevo corte" class="form-control">
          </div>
        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-primary mr-2 guardarCorte">Realizar Corte</button>
          <button type="button" class="btn btn-secondary cancelarBtn">Cancelar</button>
        </div> 
        </div>
      </div>
      
    </div>
  </div>
</div>
<script src="/js/corteproducto/detallecorte.js"></script>

