<div class="modal-dialog" role="document">
  <div class="modal-content modal-lg">
    <div class="modal-header">
      <h5 class="modal-title text-center mx-auto">Detalle del corte a realizar</h5>
      <div class="form-actions">
        <button type="button" class="btn btn-primary crearEtiqueta">Crear Etiqueta</button>
        <button type="button" class="btn btn-secondary cancelarBtn">Cancelar</button>
      </div>
    </div>
    <div class="modal-body">

    </div>
  </div>
</div>
<script>
</script>
