<table id="tablaRemisiones" class="table table-striped" style="width:100%">
  <thead>
    <tr>
      <th>Remisión</th>
      <th>Cantidad</th>
      <th>Proveedor</th>
      <th>Fecha</th>
      <th>Estado</th>
      <th>Ver</th> <!-- Nueva columna para el icono de visualización -->
    </tr>
  </thead>
  <tbody>
    {% for remison in remisones %}
      <tr>
        <td>{{ remison.remision }}</td>
        <td>{{ remison.cantidades }}</td>
        <td>{{ remison.proveedor }}</td>
        <td>{{ remison.fecha }}</td>
        <td>{{ remison.estado }}</td>
        <td><i class="view-icon fas fa-eye" data-remision="{{ remison.remision }}"></i></td> <!-- Icono de visualización -->
      </tr>
    {% endfor %}
  </tbody>
</table>

  <div id="editLightbox" class="lightbox">
    <div class="lightbox-content ordencompra" id="lightboxContent"></div>
  </div>
<script src="/js/asignacionremision/asignacionremision.js"></script>
