<div class="modal-dialog" role="document">
  <div class="modal-content modal-lg">
    <div class="modal-header">
      <h5 class="modal-title text-center mx-auto">Detalle de la Remisión {{ remisionId }} </h5>
      <div class="form-actions">
        <button type="button" class="btn btn-secondary cancelarBtn">Cerrar</button>
      </div>
    </div>
      <table id="tablaDetalleRemision" class="table table-striped" style="width:100%">
        <thead>
          <tr>
            {% for columna in encabezado %}
              <th>{{ columna }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for auxiliar in auxiliares %}
          <tr>
            <td>{{ auxiliar.tramite }}</td>
            <td>{{ auxiliar.alistamiento }}</td>
            <td>{{ auxiliar.corte }}</td>
            <td>{{ auxiliar.liquidacion }}</td>
            <td>{{ auxiliar.embalaje }}</td>
            <td>{{ auxiliar.envio }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    <div class="modal-body">
      <table id="AuxiliaresRemision" class="table table-striped" style="width:100%">
        <thead>
          <tr>
            <th>Usuario</th>
            <th>Nombre</th>
            <th>Tareas Asignadas</th>
            <th>Asignar a:</th>
          </tr>
        </thead>
        <tbody>
          {% for listaauxiliar in listaauxiliares %}
          <tr>
            <td>{{ listaauxiliar.usuario }}</td>
            <td id="nombre">{{ listaauxiliar.nombre }}</td>
            <td>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{ listaauxiliar.avance }}%" aria-valuenow="{{ listaauxiliar.avance }}" aria-valuemin="0" aria-valuemax="100">{{ listaauxiliar.avance }}%</div>
              </div>
            </td>
            <td>
              <select class="form-select asignacion-select" name="asignacion">
                {% for columna in encabezado %}
                  <option value="{{ columna }}">{{ columna }}</option>
                {% endfor %}
              </select>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<script src="/js/asignacionremision/detalleremision.js"></script>
