#editLightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 9999;
  }

  #lightboxContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
  }
  /*LightBox Small*/
  

  /* Estilos de formulario */
  .form-group {
    margin-bottom: 20px;
  }

  label {
    font-weight: bold;
  }
  