<table id="tablaRemisiones" class="table table-striped" style="width:100%">
  <thead>
    <tr>
      <th>Número de Remisión</th>
      <th>Valor</th>
      <th>Proveedor</th>
      <th>Dirección</th>
      <th>Cantidad de Artículos</th>
      <th>Estado</th>
      <th>Seleccionar</th> <!-- Nueva columna para el checkbox -->
    </tr>
  </thead>
  <tbody>
    {% for remision in remisiones %}
      <tr>
        <td>{{ remision.numero }}</td>
        <td>{{ remision.valor }}</td>
        <td>{{ remision.cliente }}</td>
        <td>{{ remision.direccion }}</td>
        <td>{{ remision.cantidad }}</td>
        <td>{{ remision.estado }}</td>
        <td><input type="checkbox" class="select-checkbox" data-remision="{{ remision.numero }}"></td> <!-- Checkbox de selección -->
      </tr>
    {% endfor %}
  </tbody>
</table>
  <div id="editLightbox" class="lightbox">
    <div class="lightbox-content ordencompra" id="lightboxContent"></div>
  </div>
<script src="/js/embalaje/etiquetaimprimir.js"></script>
