<table id="listarClientes" class="table table-striped" style="width:100%">
  <thead>
    <tr>
      <th>Id</th>
      <th>Cliente</th>
      <th>Dirección</th>
      <th>Estado</th>
      <th>Selecccionar</th>
    </tr>
  </thead>
  <tbody>
    {% for cliente in clientes %}
      <tr>
        <td>{{ cliente.id }}</td>
        <td>{{ cliente.cliente }}</td>
        <td>{{ cliente.direccion }}</td>
        <td>{{ cliente.estado }}</td>
        <td><input type="checkbox" class="select-checkbox" data-remision="{{ cliente.id }}"></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<script src="/js/embalaje/listaclientes.js"></script>
