<table id="RemisionesLiquidacion" class="table table-striped" style="width:100%">
  <thead>
    <tr>
      <th>Remisión</th>
      <th>Cliente</th>
      <th>Nit:</th>
      <th>Contacto</th>
      <th>Dirección</th>
      <th>Ciudad</th>
      <th>Teléfono</th>
      <th>Vendedor</th>
      <th>OC N°</th>
      <th>PV N°</th>
      <th>Estado</th>
      <th>Ver</th> <!-- Nueva columna para el icono de visualización -->
    </tr>
  </thead>
  <tbody>
    {% for remison in remisones %}
      <tr>
        <td>{{ remison.remision }}</td>
        <td>{{ remison.cliente }}</td>
        <td>{{ remison.nit }}</td>
        <td>{{ remison.contacto }}</td>
        <td>{{ remison.direccion }}</td>
        <td>{{ remison.ciudad }}</td>
        <td>{{ remison.telefono }}</td>
        <td>{{ remison.vendedor }}</td>
        <td>{{ remison.oc }}</td>
        <td>{{ remison.pv }}</td>
        <td>{{ remison.estado }}</td>

        <td><i class="view-icon fas fa-eye" data-remision="{{ remison.remision }}"></i></td> <!-- Icono de visualización -->
      </tr>
    {% endfor %}
  </tbody>
</table>

  <div id="editLightbox" class="lightbox">
    <div class="lightbox-content ordencompra" id="lightboxContent"></div>
  </div>
<script src="/js/liquidacion/liquidacion.js"></script>
