<table id="listarPedidos" class="table table-striped" style="width:100%">
  <thead>
    <tr>
      <th>Orden Pedido</th>
      <th>Cliente</th>
      <th>Fecha de Solicitud</th>
      <th>Fecha de Procesamiento</th>
      <th>Estado de Orden</th>
    </tr>
  </thead>
  <tbody>
    {% for ordenpedido in ordenpedidos %}
      <tr>
        <td>{{ ordenpedido.ordenpedido }}</td>
        <td>{{ ordenpedido.cliente }}</td>
        <td>{{ ordenpedido.fecha }}</td>  
        <td>{{ ordenpedido.fechaprocesamiento }}</td> 
        <td>
          <select class="form-control estadoPedido" data-pedido-id="{{ ordenpedido.ordenpedido }}">
            {% for estado in estados %}
              <option value="{{ estado }}">{{ estado }}</option>
            {% endfor %}
          </select>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<script src="/js/tramitepredidos/tramitepredidos.js"></script>