<div class="modal-dialog" role="document">
  <div class="modal-content modal-lg">
    <div class="modal-header">
      <h5 class="modal-title text-center mx-auto">Productos de Orden de Compra {{ remisionId }} </h5>
      <div class="form-actions">
        <button type="button" class="btn btn-primary guardarAbastecimiento">Enviar Abastecimiento</button>
        <button type="button" class="btn btn-secondary cancelarBtn">Cancelar</button>
      </div>
    </div>
    <div class="modal-body">
      <table id="tablaDetalle" class="table table-striped" style="width:100%">
        <thead>
          <tr>
            <th>Referencia</th>
            <th>Descripción</th>
            <th>Unidad de Emp. Solicitada</th>
            <th>Unidad de Emp. Recibida</th>
            <th>Cant. Solicitada</th>
            <th>Cant. a Recibir</th>
            <th>Cant. Pendiente</th>
          </tr>
        </thead>
        <tbody>
          {% for detalle in detalles %}
          <tr>
            <td>{{ detalle.referencia }}</td>
            <td>{{ detalle.descripcion }}</td>
            <td>{{ detalle.unidad }}</td>
            <td>
              <select class="form-control unidadEmpaque">
              {% for opcion in opcionesUnidadEmpaque %}
                <option value="{{ opcion.value }}">{{ opcion.label }}</option>
              {% endfor %}
              </select>
            </td>
            <td>{{ detalle.solicitada }}</td>
            <td>
              <input type="number" class="editable form-control" data-pendiente="{{ detalle.pendiente }}" value="{{ detalle.recibida }}">
            </td>
            <td>{{ detalle.pendiente }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script src="/js/abastecimiento/detalleremision.js"></script>
