<div class="modal-dialog" role="document">
  <div class="modal-content modal-lg">
    <div class="modal-header">
      <h5 class="modal-title text-center mx-auto">Productos de Orden(es) de Compra(s) seleccionada(s)</h5>
      <div class="form-actions">
        <button type="button" class="btn btn-primary crearEtiqueta">Crear Etiqueta</button>
        <button type="button" class="btn btn-secondary cancelarBtn">Cancelar</button>
      </div>
    </div>
    <div class="modal-body">
      <table id="tablaDetalle" class="table table-striped" style="width:100%">
        <thead>
          <tr>
            <th>Referencia</th>
            <th>Descripción</th>
            <th>Unidad de Empaque</th>
            <th>Cant. Solicitada</th>
            <th>Seleccionar</th>
          </tr>
        </thead>
        <tbody>
          {% for detalle in detalles %}
          <tr>
            <td>{{ detalle.referencia }}</td>
            <td>{{ detalle.descripcion }}</td>
            <td>{{ detalle.unidad }}</td>
            <td>{{ detalle.solicitada }}</td>
            <td><input type="checkbox" class="select-checkbox"></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<script src="/js/abastecimiento/detalleetiqueta.js"></script>
