<div class="modal-dialog" role="document">
  <div class="modal-content modal-lg">
    <div class="modal-header">
      <h5 class="modal-title text-center mx-auto">Productos de Orden de Compra {{ remisionId }} </h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
    </div>
    <div class="modal-body">
        <table id="tablaDetalle" class="table table-striped" style="width:100%">
            <thead>
            <tr>
                <th>Referencia</th>
                <th>Descripción</th>
                <th>Unidad de Empaque</th>
                <th>Cant. Solicitada</th>
                <th>Cant. Recibida</th>
                <th>Cant. Pendiente</th>
            </tr>
            </thead>
            <tbody>
            {% for detalle in detalles %}
                <tr>
                <td>{{ detalle.referencia }}</td>
                <td>{{ detalle.descripcion }}</td>
                <td>{{ detalle.unidad }}</td>
                <td>{{ detalle.solicitada }}</td>
                <td>
                <input type="number" class="editable form-control" data-pendiente="{{ detalle.pendiente }}" value="{{ detalle.recibida }}">
                </td>
                <td>{{ detalle.pendiente }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
          <script>
            $(document).ready(function() {
                var tablaEtiquetas = $('#tablaDetalle').DataTable({
                    language: {
                    url: "/js/dataTables.Spanish.json"
                    },
                    pageLength: 6,
                    scrollY: '250px',
                    scrollCollapse: true,
                    paging: true,
                    responsive: true
                });

                // Habilitar la edición de los campos "Cant. Recibida"
                $('#tablaDetalle tbody').on('click', '.editable', function() {
                    var $input = $('<input type="number" class="form-control">');
                    var originalValue = $(this).text();
                    $input.val(originalValue);
                    $(this).html($input);
                    $input.focus();
                });

                // Escuchar el evento de cambio en los campos "Cant. Recibida"
                $('#tablaDetalle tbody').on('change', '.editable', function() {
                    var $input = $(this);
                    var $row = $input.closest('tr');
                    var newValue = parseFloat($input.val());
                    var pendiente = parseFloat($input.data('pendiente'));

                    if (isNaN(newValue)) {
                        // Si no se ingresa un número válido, establecer el valor en cero
                        newValue = 0;
                    }

                    // Validar que la cantidad recibida no sea mayor a la solicitada
                    if (newValue > pendiente) {
                        newValue = pendiente; // Establecer el valor máximo permitido
                    }

                    $input.val(newValue);
                    var row = tablaEtiquetas.row($row).index();
                    var pendienteColumnIndex = tablaEtiquetas.columns().header().toArray().indexOf('Cant. Pendiente');

                    // Actualizar la cantidad pendiente en la fila modificada
                    var currentPendiente = pendiente - newValue;
                    tablaEtiquetas.cell(row, pendienteColumnIndex).data(currentPendiente);

                    // Actualizar el campo "Cant. Pendiente" en las demás filas
                    tablaEtiquetas.rows().every(function() {
                        var currentRow = this.nodes().to$();

                        if (!currentRow.is($row)) {
                            var currentPendiente = parseFloat(tablaEtiquetas.cell(currentRow, pendienteColumnIndex).data());
                            tablaEtiquetas.cell(currentRow, pendienteColumnIndex).data(currentPendiente);
                        }
                    });
                });
            });
          </script>
    </div>
  </div>
</div>
