<table id="tablaOrdenes" class="table table-striped" style="width:100%">
  <thead>
    <tr>
      <th>Número de Orden</th>
      <th>Valor</th>
      <th>Proveedor</th>
      <th>Dirección</th>
      <th>Cantidad de Artículos</th>
      <th>Estado</th>
      <th>Seleccionar</th> <!-- Nueva columna para el checkbox -->
    </tr>
  </thead>
  <tbody>
    {% for orden in ordenes %}
      <tr>
        <td>{{ orden.numero }}</td>
        <td>{{ orden.valor }}</td>
        <td>{{ orden.proveedor }}</td>
        <td>{{ orden.direccion }}</td>
        <td>{{ orden.cantidad }}</td>
        <td>{{ orden.estado }}</td>
        <td><input type="checkbox" class="select-checkbox" data-remision="{{ orden.numero }}"></td> <!-- Checkbox de selección -->
      </tr>
    {% endfor %}
  </tbody>
</table>
  <div id="editLightbox" class="lightbox">
    <div class="lightbox-content ordencompra" id="lightboxContent"></div>
  </div>
<script src="/js/abastecimiento/etiquetaimprimir.js"></script>
