<table id="tablaEstibas" class="table table-striped" style="width:100%">
  <thead>
    <tr>
      <th>Cód. Estiba</th>
      <th>UE:</th>
      <th>Proveedor</th>
      <th>Reemprimir</th>
      <th>Ver</th>
    </tr>
  </thead>
  <tbody>
    {% for estiba in estibas %}
      <tr>
        <td>{{ estiba.estiba }}</td>
        <td>{{ estiba.ue }}</td>
        <td>{{ estiba.proveedor }}</td>
         <td><i class="fa-solid fa-print"  data-estiba="{{ estiba.estiba }}"></i></td> 
        <td><i class="view-icon fas fa-eye" data-estiba="{{ estiba.estiba }}"></i></td> 
      </tr>
    {% endfor %}
  </tbody>
</table>
  <div id="editLightbox" class="lightbox">
    <div class="lightbox-content ordencompra" id="lightboxContent"></div>
  </div>
<script src="/js/abastecimiento/etiquetaproducto.js"></script>
