<h4 class="text-center">Etiqueta {{tipo}}</h4>
<form>
  <div style="position: relative;">
    <div class="row qr-container">
      <div class="col-lg-4" style="padding-left: 9px;">
        <img src="{{ CodeQr }}" alt="Código QR" class="rounded-image">
      </div>
      <div class="col-lg-8" style="padding: 0px; width: 230px;">
        <div class="principal">
          <div>
            <div class="bodyetiqueta">A.12AWG CU VER 100TH-NN2</div>
            <div class="bodyetiqueta">A.12AWG CU ROJ 100TH-NN2</div>
            <div class="bodyetiqueta">A.12AWG CU NEG 100TH-NN2</div>
              <div class="container" style="padding-left: 43px;">
                <div class="d-flex justify-content-center align-items-center" style="height: 35px;">
                  <div class="row">
                    <div class="col-lg-2" style="padding-left: 0px; padding-right: 0px; text-align: center;">
                      <div style="width: 50px; height: 50px; border-radius: 50%; background-color: green; transform: scale(0.6);"></div>
                    </div>
                    <div class="col-lg-2" style="padding-left: 0px; padding-right: 0px; text-align: center;">
                      <div style="width: 50px; height: 50px; border-radius: 50%; background-color: red; transform: scale(0.6);"></div>
                    </div>
                    <div class="col-lg-2 " style="padding-left: 0px; padding-right: 0px; text-align: center;">
                      <div style="width: 50px; height: 50px; border-radius: 50%; background-color: black; transform: scale(0.6);"></div>
                    </div>
                   <div class="col-lg-2" style="padding-left: 0px; padding-right: 0px; text-align: center;">
                        <div class="col-lg-2">
                            U.E:R100
                        </div> 
                    </div>
                  </div>

                </div>
              </div>
            <div class="row" style="padding-left: 26px;">
              <div class="col-lg-12" >
                    Proveedor: Indumex
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="background-image" style="background-image: url('/assets/images/logoccol.png'); background-size: 7%; background-repeat: repeat; position: absolute; top: 0; left: 8px; right: 8px; bottom: 0; z-index: -1; opacity: .4;"></div>
  </div>
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="form-actions">
        <button type="button" class="btn btn-primary imprimirBtn">Imprimir</button>
        <button type="button" class="btn btn-secondary cerrarBtn">Cerrar</button>
      </div>
    </div>
  </div>
</form>




