<table id="listarProveedores" class="table table-striped" style="width:100%">
  <thead>
    <tr>
      <th>Id</th>
      <th>Proveedor</th>
      <th>Dirección</th>
      <th>Estado</th>
      <th>Selecccionar</th>
    </tr>
  </thead>
  <tbody>
    {% for proveedor in proveedores %}
      <tr>
        <td>{{ proveedor.id }}</td>
        <td>{{ proveedor.proveedor }}</td>
        <td>{{ proveedor.direccion }}</td>
        <td>{{ proveedor.estado }}</td>
        <td><input type="checkbox" class="select-checkbox" data-remision="{{ proveedor.id }}"></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<script src="/js/abastecimiento/listaproveedores.js"></script>
