  <table id="tablaOrdenes" class="table table-striped" style="width:100%">
    <thead>
      <tr>
        <th>Número de Orden</th>
        <th>Valor</th>
        <th>Proveedor</th>
        <th>Dirección</th>
        <th>Cantidad de Artículos</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      {% for orden in ordenes %}
        <tr>
          <td>{{ orden.numero }}</td>
          <td>{{ orden.valor }}</td>
          <td>{{ orden.proveedor }}</td>
          <td>{{ orden.direccion }}</td>
          <td>{{ orden.cantidad }}</td>
          <td>{{ orden.estado }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <script>
    $(document).ready(function() {
      $('#tablaOrdenes').DataTable({
        language: {
          url: "/js/dataTables.Spanish.json"
        },
        scrollY: '250px',
        scrollCollapse: true,
        paging: true,
        responsive: true,
        select: true,
        pageLength: 6
      });
    });
  </script>
