
  <h1>Lector de QR</h1>
  <video id="video" width="300" height="200" autoplay></video>
  <button id="scan-btn">Escanear QR</button>
  <div id="result"></div>
<script src="/js/montacargas/reubicacionproducto.js"></script>
